.background-inicio {
    background-image: url('../../imagens/background.jpg'); 
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height:100vh; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  }

  @keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes erase {
    0% { width: 100%; }
    100% { width: 0; }
} 




#text {
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 2s steps(20) infinite alternate-reverse; 
    font-size: 4rem; 
    font-weight: bold;
}




@media (max-width: 768px) {
    #text {
        font-size: 1.8rem; 
    }
}
